<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.scala.beaconplugin"
        version="0.0.1">

  <name>Beacon Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/beacon.js" target="js/beacon.js"/>

  <js-module src="www/beacon.js" name="beacon">
    <clobbers target="beacon" />
  </js-module>
  

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BeaconPlugin">
        <param name="android-package" value="com.scala.plugin.BeaconPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/BeaconPlugin.java" target-dir="src/com/scala/plugin/"/>
  </platform>

  

</plugin>